<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <img src="/images/logo@2x.png">
        {% t site.title %}
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        {% for page in site.pages %}
          {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for lang in site.languages %}
              {% if lang == 'en' %}
                {% capture langlink %}{{ site.baseurl_root }}/{% endcapture %}
              {% else %}
                {% capture langlink %}{{ site.baseurl_root }}/{{lang}}{% endcapture %}
              {% endif %}

              {% capture langkey %}lang.{{ lang }}{% endcapture %}

              <li><a href="{{ langlink }}"><span class="flag-icon flag-icon-{{ site.flags[lang] }}"></span> {% t langkey %}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
